@model IEnumerable<fomezero.Models.Usuario>

@{
    ViewData["Title"] = "Index";

    // Obtém o TipoUsuarioId da sessão
    var tipoUsuarioId = ViewContext.HttpContext.Session.GetString("TipoUsuarioId");
}

<h1 class="mb-4">Usuários</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">Criar Novo Usuário</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome) <!-- Nome do usuário -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email) <!-- E-mail do usuário -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoUsuario.Descricao) <!-- Descrição do tipo de usuário -->
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome) <!-- Exibe o nome -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email) <!-- Exibe o email -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoUsuario.Descricao) <!-- Exibe a descrição do tipo de usuário -->
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info ml-1">Detalhes</a>
                    @if (!string.IsNullOrEmpty(tipoUsuarioId) && tipoUsuarioId == "Admin")
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning ml-1">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger ml-1">Excluir</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
