@model fomezero.Models.RetiradaDoaco

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RetiradaDoaco</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAgendada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAgendada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRetirada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRetirada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficiario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beneficiario.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doacao.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalRetirada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalRetirada.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
